/** 
 *  Project fonts:
 *
 *  font-family: 'Space Grotesk', sans-serif;
 *  font-family: 'Inter', sans-serif;
 *  font-family: 'Fira Code', monospace;
 */

body,
p,
.text--body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: 0;
}

/* Text caption. */
caption,
.text--caption {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 3.2rem;
}

/* Text code. */
code {
    font-family: 'Fira Code', monospace;
    background-color: var(--background-color-2);
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2.5rem;
}

/* Roboto styled elements. */
h1,
h2,
h3,
h4,
.text--title,
.text--subhead,
.text--menu,
.text--button,
button {
    font-family: 'Space Grotesk', sans-serif;
}

/* Title. */
h1,
.text--title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 4.4rem;
}

/* Subtitle. */
h2,
.text--subhead {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

/* Menu. */
h3,
.text--menu {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

/* Button. */
h4,
button,
.text--button {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 0.032rem;
}

/* Roboto Condensed styled elements. */
.text--headline,
.text--display-1,
.text--display-2,
.text--display-3,
.text--display-4 {
    font-family: 'Space Grotesk', sans-serif;
}

/* Headline. */
.text--headline {
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 4.4rem;
    letter-spacing: 0.032rem;
    text-transform: uppercase;
}

/* Display 1. */
.text--display-1 {
    font-style: normal;
    font-weight: normal;
    font-size: 3.4rem;
    line-height: 5.2rem;
}

/* Display 2. */
.text--display-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 6.4rem;
}

/* Display 3. */
.text--display-3 {
    font-style: normal;
    font-weight: normal;
    font-size: 5.6rem;
    line-height: 6.4rem;
}

/* Display 4. */
.text--display-4 {
    font-style: normal;
    font-weight: 300;
    font-size: 11.2rem;
    line-height: 12.8rem;
}

/* Paragraph modifier. */
p:not(:last-child) {
    margin-bottom: 1.6rem;
}